<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    
    <add key="AllLogPath" value="C:\Log|G:\fronteng_log\10_7_1114\I|G:\fronteng_log\10_7_1114"/>
    
    <add key="AllReportUrl" value="/OP/IsOp|/Home/LoginStatus|/Product/RouteConf|/Home/CitySelector"/>
    
    <add key="MaxDegreeOfParallelism" value="4"/>
    
    <!--MsgPack|ServiceStack.Text.Json|Newtonsoft.Json-->
    <add key="SerializerType" value="MsgPack"/>
    
    <add key="SerializerFileExt" value=".Serializer.txt"/>
    
  </appSettings>
</configuration>
